@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: "Poppins", sans-serif;
}
:root {
	--primary-Color: #3db2d5;
	--secondary-Color: #003d69;
	--text-Color: #000000;
	--alert-Color: #0099ff;
	--success-Color: #8be0dd;
	--warning-Color: #ee8800;
	--error-Color: #fe514c;
	--grey-Color: #7a7a7a;
	--black-Color: #232323;
	--main-Background-Color: #ffffff;
	--secondary-Font: "Montserrat", sans-serif;
    --button-padding: 5px 25px 5px 25px;
}

.headerhdmdp7lm3ya .navbar-light .navbar-nav .nav-link {
	color: var(--text-Color);
	font-weight: 500;
}
.headerhdmdp7lm3ya .navbar-light .navbar-nav .nav-link:hover {
	color: var(--primary-Color);
	font-weight: 600;
}
.headerhdmdp7lm3ya .fab {
	color: var(--black-Color);
}
.headerhdmdp7lm3ya .btn-outline-primary{
    padding: var(--button-padding);
    background-color: var(--secondary-Color);
    border: none;
    color: white;
    font-weight: 600
}