@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #3DB2D5;
    --secondary-Color: #003D69;
    --text-Color: #000000;
    --alert-Color: #0099FF;
    --success-Color: #8BE0DD;
    --warning-Color: #EE8800;
    --error-Color: #FE514C;
    --grey-Color: #7A7A7A;
    --black-Color: #232323;
    --main-Background-Color: #FFFFFF;
  }








.headerhdmdp7lm3ya .navbar-light .navbar-nav .nav-link{
    color: #000000;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}